 .done-true {
    text-decoration: line-through;
  }
  #toDoList {
    padding: 15px;
  }
  #toDoList input[type='text']{
    width: 80%;
    padding: 5px 0;
    font-size: 25px;
  }
  #alldone {
    margin: 10px 0;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #dddddd;
  }
  td {
    padding: 5px;
    text-align: center;
  }
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  tr:hover {
    background-color: #cccccc;
  }
  #countLeft {
    margin: 10px 0;
  }
  #deleteBtn {
    background-color: #f00000;
    color: #ffffff;
    padding: 8px;
  }
  #addBtn {
  font-size:25px;
  margin-left: 10px;
  padding: 5px;
  background-color: #428cba;
  color:#ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer; 
}

.right {
  float: right;
  cursor: pointer;
  background-color:#cccccc;
  color: #ffffff;
  border-radius: 50px;
  padding: 5px 10px;
}
.right:hover {
  background-color:#cc0000;
}
